@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.modal1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal1-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
  }

  .modal-container p {
    margin-bottom: 15px;
    color: #2b3674 ;
    font-weight: 2px;
  }

  .asterik{
    color: red;
  }

  #No{
    border: 2px solid  #bbbcbf;
    border-radius: 6px;
    padding: 3px;
    background-color: white;
    color:  #bbbcbf;
    padding-inline: 5px;
  }
  
  #Yes{
    border: 2px solid  #75e68e ;
    border-radius: 6px;
    padding: 3px;
    background-color: white;
    color:  #75e68e;
    padding-inline: 7px;
  }
  