.custom-modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal1-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
}

.custom-modal1-header {
  margin-bottom: 20px;
  color:  #2b3674;
}

.custom-modal1-footer {
  display: flex;
  justify-content: end;
}

.custom-modal1-footer button {
  padding: 10px 20px;
}

#del{
  border: 2px solid  #bbbcbf;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
  color:  #bbbcbf;
  padding-inline: 7px;
  margin-right: 25px;
}

#sel{
  border: 2px solid  #75e68e ;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
  color:  #75e68e;
  padding-inline: 10px;
}